.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../img/sun-remove.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.home__title {
    position: relative;
    top: -20vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__title h1 {
    font-size: 14vw;
    font-weight: 700;
    color: #9aafff;
}

.home__title h3 {
    position: relative;
    top: 2vh;
    

    font-size: 5vw;
    font-weight: 700;
    opacity: 0.8;
}


.home a {
    position: relative;
    top: -10vh;
}

.button-main {
    width: 40vw;
    height: 12vw;

    font-size: 4vw;
}