.nav-bar {
    width: 100%;

    margin: 0;
    padding: 20px 20px;
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 

    position: fixed;
}

.nav-bar img {
    height: 40px;
    max-width: 100%;
}

.nav-bar i {
    font-size: 30px;
    cursor: pointer; 
}


@media (max-width: 768px) {
    .nav-bar {
        padding: 15px 15px; 
    }

    .nav-bar img {
        height: 35px; 
    }

    .nav-bar i {
        font-size: 20px;
    }
}

@media (max-width: 480px) { 
    .nav-bar { 
        padding: 10px 10px; 
    }

    .nav-bar img {
        height: 30px; 
    }

    .nav-bar i {
        font-size: 15px;
    }
}
